<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Application spyMisision!{% endblock %}</title>
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.css'}}">
    <link rel="stylesheet" href="{{ 'assets/css/app_style.css'}}">
</head>

<body>
    {% block body %}{% endblock %}
</body>

{% block javascripts %}

{% endblock %}

</html>